<!DOCTYPE html>
<html>
<head>
  <title>Evaluateme</title>
  <%= stylesheet_link_tag    "evaluateme/application", media: "all" %>
  <%= javascript_include_tag "evaluateme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
